## input and output methods  
- reading the data or information from thw user is called input syntax:***input()***  
#### two types of input 
    1.static input  
    2.dynamic input  
- displaying the data to the user is called the output syntax:***print()***

static input example

In [1]:
a=5
print(a)

5

dynamic input example

In [2]:
a=input()
a

0708

'0708'

In [4]:
a=input("enter a number ")
print("a value is " ,a)

enter a number 78
a value is  78

In [5]:
a=float(input("enter flaot value"))
print("the float value of a is",a)

enter flaot value3.25
the float value of a is 3.25

In [10]:
a=7
b=8
print("a value is",a,"b value is ",b)

a value is 7 b value is  8

using sep and end keywords we can separate two values 
example:

In [11]:
print(a,b,sep=",",end="%")

7,8%

In [13]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

generate three values from user that value seperated with dollar and end with percenetage and again print all three values

In [2]:
a=input("enter a value")
b=input("enter b value")
c=input("enter c value")
print(a,b,c,sep=" $ ",end="% \n")   
print(a,b,c)

enter a value7
enter b value8
enter c value0
7 $ 8 $ 0%
7 8 0

## operators
1.Airthematic  
    +,-,*,/,%     
        - normal division output is quotient  
        - int division output is integer part of quotient  
        - modular division output is remainder  
2.Assingment  
    =  
3.Comparision  
    <,>,<=,>=,==  
4.Logical  
    and ,or, not              
5.Bitwise  
    &,|,^   
7.Identity operators  
    is(==),is not(!=)  
8.Membership operators   
    in,notin

## Airthematic operators

In [3]:
a=7
b=8
print("addition ",a+b)  
print("subtraction ",a-b)  
print("multiplication ",a*b)  
print("power ",a**b)   
print("division ",a/b)  
print("int division ",a//b)
print("module division ",a%b)

addition  15
subtraction  -1
multiplication  56
power  5764801
division  0.875
int division  0
module division  7

## comparision operator

In [4]:
25>8
35<98

True

In [5]:
35>7

True

In [6]:
53<7

False

In [10]:
a=5
b=6
c=8
if a>b and a>c:
    print("a is big ")
else:
    print("c is big")

c is big

## logical operator
- and the inputs are true then the output is true 
- or in input one condition is true then the output will be true
- not if the input true then the ouput is false

In [11]:
# example for and #  
5>3 and 6>5

True

In [12]:
#example for or #
5>6 or 8<0

False

In [13]:
#example for not #
a=19
not a

False

## bitwize operator

In [14]:
#example for and #
2& 3

2

In [15]:
#example for or #
2|3

3

In [16]:
# example for ex-or #
2^4

6

In [17]:
#example fro left shift#
2<<6

128

In [18]:
# example for right shift #
2>>5

0

## identity operator

In [21]:
# example for identity operator#
a is 100 and a is not 100

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\admin\AppData\Local\Temp/ipykernel_3340/1426518158.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\admin\AppData\Local\Temp/ipykernel_3340/1426518158.py:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [25]:
#rectifiying abopve error #
a==100 and a!=100

False

## membership operator

In [35]:
#examplae for membership operator #
a=[1,2,5,4,7,3,6,9]
10 not in   a

True

In [36]:
4 not in a

False

## auto increment  and auto decrement

In [45]:
a=4
a+=1
print(a)

5

In [46]:
a-=1
print(a)

4

In [47]:

a*=1
print(a)

4

In [48]:
a/=1
print(a)

4.0

## control flow  
- conditional statements(if,else,elseif,nestedif)  
- loops(for,while)   
- break,return

In [ ]:
#in  c-lang
if(condition)
{
    block of code
}

## conditional statements in python

### syntax for if statement
if condition:  
        block of statements  
    
    
### syntax for if else statement
if condition:  
        block of statements  
else:  
        block of statements  


### syantax for elif statement (elseif)  
if condition:  
        block of statements  
else if condition:    
        block of statements  
else:  
        block of statements

In [53]:
#given number is even or odd
a=int(input("enter the a value"))
if (a%2==0):
    print("the given number ",a,"is even")
else:
    print("the given number ",a,"is odd")

enter the a value5
the given number  5 is odd

In [55]:
#given number is positive or negative
a=int(input("enter the value"))
if(a>0):
    print("the number is positive")
elif(a<0):
    print("the number is negative")
else:
    print("the number is zero")

enter the value-5
the number is negative

In [60]:
# number is two but not 10
a=int(input("enter the value"))
if(a%2==0):
    if(a%10!=0):
        print("the number divisible by 2 only")
    else:
        print("the number divisible by both numbers")
else:
    print("the number not divisible by 2 and 10")

enter the value6
the number divisible by 2 only

## range 
- syntax for the range is(start value,end value)
- start value is inclusiove and end value is exclusive

In [61]:
range(10,20,1)
#11,12,13,14,15,16,17,18,19
range(10,30,2)
#2,20,21,22,23,24,25,26,27,28.29
range(20,1,-1)
#19,18,17,16,15,14,13,12,11,10
range(10)
#it takes as a end value
rane(10,30)
#it takes a starting and end value

range(10, 20, 2)

In [66]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [65]:
list(range(10,30,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [64]:
list(range(20,1,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(10,30))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]