In [ ]:
# synatx for nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        block of statements

In [1]:
#matrix format
#- contain rows and coloums
#- it has two dimensions***
for i in range(1,5):
    for j in range(1,5):
        print(i,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [2]:
for i in range(1,5):
    for j in range(1,5):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
for i in range(6,0,-1):
    for j in range(1,i):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(6,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
#prime numbers between 2-19
n = int(input (" Enter first Value: "))  
m= int(input (" Enter last Value: "))  
  
print ("The Prime Numbers are: ")  
for j in range (n,m):  
    if j > 1:  
        for i in range (2, j):  
            if (j % i) == 0:  
                break  
        else:  
            print(j)

 Enter first Value: 2
 Enter last Value: 20
The Prime Numbers are:
2
3
5
7
11
13
17
19

In [8]:
#1-10 tables
n=1
for k in range(1,11):
    for j in range(1,11):
        print(n,"*",j,"=",n*j)
    print()
    n=n+1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## While loop
- its execute the statements until the condition false
- in while we dont use range
- execute faster than for loop
- user incrementation

In [ ]:
#while syntax
initialization
while condition:
    block of statements
    incerement/decrement

In [9]:
#example program
n=1
while n<6:
    print("hii students")
    n=n+1

hii students
hii students
hii students
hii students
hii students

In [10]:
#print decending order
n=10
while n>0:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [11]:
#print the given digit count
s=int(input("enter the number"))
c=0
while (s!=0):
    c=c+1
    s=s//10
print("\n",c)

enter the number12121

 5

In [12]:
#given  number is palindrome or not 
n=int(input())
s=0
p=n
while(n!=0):
    r=n%10
    s=(s*10)+r
    n=n//10
if(s==p):
    print("the number is palindrome")
else:
    print("not palindrome")

232
the number is palindrome

In [ ]:
#nested while
synatx:
    initialization
    while condition:
        block of statements
        incr/decre
        while conidtion 2 :
            block of statements
            incre/decre

In [13]:
#example for nested while loop
n=1

while n<11:
    j=1
    while j<11:
        print(n,"*",j,"=",n*j)
        j+=1
    print()
    n+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

## jump statements
- we also called as unconditional jumps
    - break
    - continue
    - pass

### Break
- it terminates the current loop
- Break is a keyword

In [14]:
#example program
for i in "python":
    if i=='o':
        break
    print(i)

p
y
t
h

In [2]:
#example program
i=1
while(i<10):
    i=i+1
    if i==6:
        break
    print(i)

2
3
4
5

### continue
- it skips only current iteration and continue the next iteration 
- continue is also a keyword

In [4]:
#example program
for i in range(20):
    if i==9:
        print("skip")
        continue
    print(i)

0
1
2
3
4
5
6
7
8
skip
10
11
12
13
14
15
16
17
18
19

In [6]:
#print odd numbers using even number condition
for i in  range(10):
    if(i%2==0):
        continue
    print(i)

1
3
5
7
9

### pass
- it is a keyworld
- when we need the condition scientifically correct need to change another operation 
- it is a NULL operation
- it is used to create empty classes also

In [8]:
#example program
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

# strings
- it is a group of characters
- it is a derived data type
- it is a immutable means we can't change the values 
- all strinsg return  a new value

In [17]:
#example program for string
j="kedarinadh"
print(type(j))
print(len(j))
print("min=",min(j))
print("max=",max(j))#it cannot show in numerically
print(sorted(j))
#print(sum(j))#we cannot perfoem add operation one string

<class 'str'>
10
min= a
max= r
['a', 'a', 'd', 'd', 'e', 'h', 'i', 'k', 'n', 'r']

In [18]:
j="python"
k="workshop"
print(j+k)
print(j,k)

pythonworkshop
python workshop

In [33]:
#slicing syntax:: (start:end:step)
# positive indexing(left to right)
#negative indexing(right to left)
j="kedarinadh"
print(len(j))
print(j[0])
print(j[7])
print(j[-1])
print(j[::])
print(j[::-1])
print(j[2:8])

10
k
a
h
kedarinadh
hdaniradek
darina